[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/chainlink-brownie-contracts"]
	path = lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Web3/Anryton-Hackathon/anryton-router/anryton-router/lib/forge-std"]
	path = Web3/Anryton-Hackathon/anryton-router/anryton-router/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Web3/anryton-router/lib/forge-std"]
	path = Web3/anryton-router/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Web3/anryton-router/lib/chainlink-brownie-contracts"]
	path = Web3/anryton-router/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
